{% extends "layout.html" %}
{% block head %}
<title>lobby</title>
{% endblock %}

{% block body %}

<!-- page content -->
<div id="head-reg"></div>
<h3>owned games</h3>
<div id="owned-games-reg"></div>
<h3>joined games</h3>
<div id="joined-games-reg"></div>
<h3>other games</h3>
<div id="other-games-reg"></div>
<div id="new-game-reg"></div>


<!-- marionette templates -->
<script type="text/template" id="head-template">
  <h1>Game Lobby</h1>
</script>

<script type="text/template" id="game-list-template">
  ASD
  <div id="game-list-div" class="yolo"></div>
</script>

<script type="text/template" id="game-list-entry-template">
  PLACEHOLDER
  <a href="/game/<%= gameid %>/"><%= gamename %></a> - <%= owner %>
</script>

<script type="text/template" id="owned-game-list-entry-template">
  <a href="/game/<%= gameid %>/"><%= gamename %></a> - <%= owner %>
  <button type="button" class="view btn btn-default">view</button>
  <button type="button" class="delete btn btn-default" data-toggle="modal" data-target="#delete-dialog-<%= gamename %>">delete</button>
  <div class="modal fade" id="delete-dialog-<%= gamename %>" tabindex="-1" role="dialog" aria-labelledby="delete-label-<%= gamename %>">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="delete-label-<%= gamename %>">confirm deletion</h4>
	</div>
	<div class="modal-body">
          you really sure you want to delete this?
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">jk nvm</button>
          <button type="button" class="btn btn-primary">yea bro, really delete this game</button>
	</div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="joined-game-list-entry-template">
  <a href="/game/<%= gameid %>/"><%= gamename %></a> - <%= owner %>
  <button type="button" class="view btn btn-default">view</button>
  <button type="button" class="leave btn btn-default" data-toggle="modal" data-target="#leave-dialog-<%= gamename %>">leave</button>
  <div class="modal fade" id="leave-dialog-<%= gamename %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	</div>
	<div class="modal-body">
          confirm leaving this game?
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
	</div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="other-game-list-entry-template">
  <a href="/game/<%= gameid %>/"><%= gamename %></a> - <%= owner %>
  <button type="button" class="view btn btn-default">view</button>
  <button type="button" class="join btn btn-default" data-toggle="modal" data-target="#join-dialog-<%= gamename %>">join</button>
  <div class="modal fade" id="join-dialog-<%= gamename %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Join Game Confirmation</h4>
	</div>
	<div class="modal-body">
          confirm join request?
	  <input type="text" class="form-control" id="<%= gameid %>" placeholder="Game password" name=joinpass-<%= gameid %>>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
	</div>
      </div>
    </div>
  </div>
</script>
</script>

<script type="text/template" id="new-game-template">
  <div class="col-md-3" id="new-game-form-div">
    <form role="form" method="post">
      <h2>Create new game</h2>
      <div class="form-group">
	<label for="gamename">Game name:</label>
	<input type="text" class="form-control" id="gamename" placeholder="Enter name" name=gamename>
      </div>
      <div class="form-group">
	<label for="joinpass">Join password:</label>
	<input type="text" class="form-control" id="joinpass" placeholder="Optional" name=joinpass>
      </div>
      <button type="submit" class="btn btn-default">Create new game</button>
    </form>
  </div>
</script>

<script src="/static/lobby.js"></script>

{% endblock %}
